.a4-div {
  width: auto;
  /*max-width: 100%;
  max-height: 100%;*/
  height: auto;
   
  
  text-align: center;
 page-break-inside: avoid;

  /* Define the styles for the border */
  /*border: 1px solid #000; /* Black border */

  
}
.insidediv {
  page-break-inside: auto;
}
.custom-flex-container {
  display: flex;
  flex-wrap: wrap;
  
}

body {
  
}


  /*.insidediv {
    border: 1px solid #000 !important;
    display: flex !important;
    flex-wrap: wrap !important;
    
    
  }*/
  @media print {
    /* Reset margin for the first page */
    body {
        /* Set your desired margin size */
    }
    @page {
      margin-inline-start:5mm ;
     margin-block: 5mm;
     
    }
    .print-content {
    /*  transform: scale(1.0); /* Adjust the scale value as needed */
    
    }
     
  }